<h1>Landings#x</h1>
<p>Find me in app/views/landings/x.html.erb</p>
<%acdc = "Hello World"%>
<%=acdc%>
<h1>-----</h1>
<%= @hola%>
<h1>--------</h1>
<%#Evita salto de linea el ( - )%>
<%= @arregloNombres%>
<ul>
<% @arregloNombres.each do |x|%>
	<li><%= x %></li>
<%end%>
</ul>


<%= @arrayNombres2%>

<ul>
	<li><%= link_to "Link Z", landings_z_path %></li>
</ul>